### 1.	Import necessary libraries and Load the data set from the link given below into a pandas dataframe

In [1]:
#import Library
import pandas as pd
df = pd.read_csv("../Data/Wholesale customers data.csv")

### 2.Understand the Data Features

In [2]:
#Finding number of rows and columns
print("Number of rows and columns : ",df.shape)

Number of rows and columns :  (440, 8)

In [5]:
#Basic Information about all the columns
print("Basic Information about all the column : ")
df.info()

Basic Information about all the column :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 440 entries, 0 to 439
Data columns (total 8 columns):
Channel             440 non-null int64
Region              440 non-null int64
Fresh               440 non-null int64
Milk                440 non-null int64
Grocery             440 non-null int64
Frozen              440 non-null int64
Detergents_Paper    440 non-null int64
Delicassen          440 non-null int64
dtypes: int64(8)
memory usage: 27.6 KB

In [7]:
#Basic Statistics about all the columns
print("Basic Statistics about all the column : ")
df.describe().transpose()

Basic Statistics about all the column :

,count,mean,std,min,25%,50%,75%,max
Channel,440.0,1.322727,0.468052,1.0,1.00,1.0,2.00,2.0
Region,440.0,2.543182,0.774272,1.0,2.00,3.0,3.00,3.0
Fresh,440.0,12000.297727,12647.328865,3.0,3127.75,8504.0,16933.75,112151.0
Milk,440.0,5796.265909,7380.377175,55.0,1533.00,3627.0,7190.25,73498.0
Grocery,440.0,7951.277273,9503.162829,3.0,2153.00,4755.5,10655.75,92780.0
Frozen,440.0,3071.931818,4854.673333,25.0,742.25,1526.0,3554.25,60869.0
Detergents_Paper,440.0,2881.493182,4767.854448,3.0,256.75,816.5,3922.00,40827.0
Delicassen,440.0,1524.870455,2820.105937,3.0,408.25,965.5,1820.25,47943.0

### 3.Check for NULL values and their datatypes

In [8]:
#checking for any null in each column
null_ = df.isna().any()
null_

Channel             False
Region              False
Fresh               False
Milk                False
Grocery             False
Frozen              False
Detergents_Paper    False
Delicassen          False
dtype: bool

In [10]:
#find datatypes of each column
dtypes = df.dtypes
dtypes

Channel             int64
Region              int64
Fresh               int64
Milk                int64
Grocery             int64
Frozen              int64
Detergents_Paper    int64
Delicassen          int64
dtype: object

In [12]:
#Combining both null and datatypes of each column
info = pd.concat([null_,dtypes],axis = 1,keys = ['NA Present','Datatype'])
info

                  NA Present Datatype
Channel                False    int64
Region                 False    int64
Fresh                  False    int64
Milk                   False    int64
Grocery                False    int64
Frozen                 False    int64
Detergents_Paper       False    int64
Delicassen             False    int64

### 4.Remove the missing values (if any)

In [13]:
# 
# Since there are no missing values in the data set we have nothing to handle

### 5.Perform Feature Scaling

In [15]:
from sklearn import preprocessing
 
std_scale = preprocessing.StandardScaler().fit(df)
df_std = pd.DataFrame(std_scale.transform(df),columns=df.columns)
print("Standardised data : \n")
df_std.head()

Standardised data :

,Channel,Region,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicassen
0,1.448652,0.590668,0.052933,0.523568,-0.041115,-0.589367,-0.043569,-0.066339
1,1.448652,0.590668,-0.391302,0.544458,0.170318,-0.270136,0.086407,0.089151
2,1.448652,0.590668,-0.447029,0.408538,-0.028157,-0.137536,0.133232,2.243293
3,-0.690297,0.590668,0.100111,-0.624020,-0.392977,0.687144,-0.498588,0.093411
4,1.448652,0.590668,0.840239,-0.052396,-0.079356,0.173859,-0.231918,1.299347